#page-footer{
    background-color: whitesmoke;
    @include x-large-min{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer-links-div{
        padding: 0px 50px;
        @include med-min{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-links{
            display: block;
            font-size: 1.1em;
            padding: 20px 0px;
            @include med-min{
                display: inline;
                font-size: 1em;
            }
            @include x-large-min{
                margin-right: 20px;
            }
        }
    }
}

#social-icons{
    @include x-large-min{
        margin-right: 50px;
    }
    img{
        margin: 20px 0px;
        margin-left: 50px;
        @include x-large-min{
            margin-left: 15px;
        }
    }
}

#copyright{
    margin-left: 50px;
}