.title{
    color: white;
    position: absolute;
    bottom: 1%;
    left: 10%;
    font-size: 5.5em;
    font-weight: 500;
    @include large-min{
        font-size: 7em;
    }
}

.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    #logo{
        img{
            padding: 20px;
            width: 200px;
            height: auto;
            @include small-min{
                width: 100%;  
            }
        }
    }
    #header-links{
        .menu-links{
            margin-right: 20px;
            color: white;
            @include large-min{
                font-size: 1.5em;
                margin-right: 50px;
            }
        }
    }
}