<section id='page-footer'>
    {% comment %} 
         No associated content with the tags below
    {% endcomment %}
    <div id='footer-links-div'>
        <a href="" class='footer-links'>Home</a>
        <a href="" class='footer-links'>About</a>
        <a href="" class='footer-links'>Press</a>
        <a href="" class='footer-links'>Book</a>
        <a href="" class='footer-links'>Blog</a>
        <a href="" class='footer-links'>Testimonial</a>
        <a href="" class='footer-links'>Doctor in the House</a>
        <a href="" class='footer-links'>Clinic</a>
        <a href="" class='footer-links'>Education for Doctors</a>
    </div>

    <div id='social-icons'>
        {{ 'logo-instagram.svg' | asset_url | img_tag }}
        {{ 'logo-twitter.svg' | asset_url | img_tag }}
        {{ 'logo-facebook.svg' | asset_url | img_tag }}
        {{ 'logo-youtube.svg' | asset_url | img_tag }}
    </div>
</section>

<p id="copyright">© 2017 Dr Chatterjee. All rights reserved.</p>